<div class="landing-container">
    <h1>Who are you</h1>
    <div class="icon-container">
      <div class="icon" (click)="navigateToLogin('vendor')">
        <img src="assets/vendor-icon.png" alt="Vendor Icon">
        <p>Vendor</p>
      </div>
      <div class="icon" (click)="navigateToLogin('employee')">
        <img src="assets/employee-icon.png" alt="Employee Icon">
        <p>Employee</p>
      </div>
      <div class="icon" (click)="navigateToLogin('corporate')">
        <img src="assets/corporate-icon.png" alt="Corporate Icon">
        <p>Corporate</p>
      </div>
    </div>
  </div>
  