<div class="signup-container">
  <form (ngSubmit)="onSignup()">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" id="name" [(ngModel)]="signupData.name" name="name" required />
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <div class="email-input-container">
        <input
          type="text"
          id="email"
          [(ngModel)]="signupData.email"
          name="email"
          [placeholder]="emailPlaceholder"
          required
        />
        <span *ngIf="emailDomain" class="email-domain">{{ emailDomain }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="user_id">user_id</label>
      <input
        type="text"
        id="user_id"
        [(ngModel)]="signupData.user_id"
        name="user_id"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="signupData.password"
        name="password"
        required
      />
    </div>

    <div class="form-group">
      <label for="city_id">city_id</label>
      <input
        type="number"
        id="city_id"
        [(ngModel)]="signupData.city_id"
        name="city_id"
        required
      />
    </div>

    <div class="form-group">
      <label>gender</label>
      <div class="gender-container">
        <div>
          <input
            type="radio"
            id="male"
            name="gender"
            value="Male"
            [(ngModel)]="signupData.gender"
            required
          />
          <label for="male">Male</label>
        </div>
        <div>
          <input
            type="radio"
            id="female"
            name="gender"
            value="Female"
            [(ngModel)]="signupData.gender"
            required
          />
          <label for="female">Female</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="user_type">user_type</label>
      <div class="type-container">
        <div>
          <input
            type="radio"
            id="general"
            name="user_type"
            value="General"
            [(ngModel)]="signupData.user_type"
            (change)="onUserTypeChange('General')"
            required
          />
          <label for="general">General</label>
        </div>
        <div>
          <input
            type="radio"
            id="corporate"
            name="user_type"
            value="Corporate"
            [(ngModel)]="signupData.user_type"
            (change)="onUserTypeChange('Corporate')"
            required
          />
          <label for="corporate">Corporate</label>
        </div>
      </div>
    </div>

    <div *ngIf="signupData.user_type === 'Corporate'" class="form-group">
      <label for="company">company</label>
      <select
        id="company"
        [(ngModel)]="signupData.company"
        name="company"
        (change)="onCompanyChange($event)"
        required
      >
        <option value="RTX">RTX</option>
        <option value="TCS">TCS</option>
        <option value="Diligent">Diligent</option>
      </select>
    </div>

    <button type="submit">sign up</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</div>
